In [ ]:
%pip install seaborn
%pip install pandas

In [5]:

import seaborn as sns
import pandas as pd

# 1. Выведите первые 5 строки DataFrame
titanic = sns.load_dataset("titanic")
print("Первые 5 строк DataFrame:")
print(titanic.head(5))

# 2. Замените все пропущенные значения в столбце 'age' средним значением по этому столбцу
mean_age = titanic['age'].mean()
titanic['age'] = titanic['age'].fillna(mean_age)

# 3. Создайте новый столбец 'age_category', который будет содержать категориальные значения "Child", "Adult" и "Senior" на основе возраста (age)
titanic['age_category'] = pd.cut(titanic['age'], bins=[-1, 18, 65, float('inf')], labels=['Child', 'Adult', 'Senior'])

print("\nОбновленный DataFrame:")
print(titanic.head())

Первые 5 строк DataFrame:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Обновленный DataFrame:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone age_category
0    man        True  NaN  Southampton    no  False        Adult
1  woman       False    C    Cherbourg   yes  False        Adult
2  woman       False  NaN  Southampton   yes   True        Adult
3  woman       False    C  Southampton   yes  False        Adult
4    man        True  NaN  Southampton    no   True        Adult